.toggleNavButton{
	width: fit-content;
	overflow: hidden;
	padding: 0.5rem;
	
	display: flex;
	flex-direction:column;
	gap: 3px;
	justify-content: center;
	background-color: var(--nav-bg-color);
	outline: none;
	border: none;
	border-radius: var(--border-radius-small);
	margin-left: auto;
}

.line1,.line2, .line3{	
	width: 30px;
	height: 4px;
	background-color: #000;
	border-radius: 1rem;
	transition: .3s;
}

.line1Active{
	transform: translate(0, 7px) rotate(45deg);
}

.line3Active{
	transform: translate(0, -7px) rotate(-45deg);
}

.line2Active{
	transform: translateX(-100px);
}
