.toggleNavButton{
	display: flex;
	flex-direction:column;
	gap: 4px;
	justify-content: center;
	outline: none;
	border: none;
	color: rgba(235, 235, 245, 0.6);
	transition: all 100ms;
}

.toggleNavButton:hover{
	color: #fff;
}

.line1,.line2, .line3{	
	width: 25px;
	height: 3px;
	background-color: currentColor;
	border-radius: .25rem;
	transition: .3s;
}

.line1Active{
	transform: translate(0, 7px) rotate(45deg);
}

.line3Active{
	transform: translate(0, -7px) rotate(-45deg);
}

.line2Active{
	transform: translateX(-100px);
}


@media only screen and (min-width: 750px) {
	.toggleNavButton {
		gap: 3px;
	}
	.line1,.line2, .line3{
		width: 30px;
		height: 4px;
	}
}
