.notesListHeader{
    display: flex;
    gap: .75rem;
    justify-content: end;
    padding: 1rem;
    background-color: var(--nav-bg-color)
}

.notesListWrapper{
    padding: 0 1rem;
}

.notesList{
    display: flex;
    flex-direction:column;
    gap: .5rem;
}

.noteListItem{
    padding: .5rem;
    display: flex;
    flex-direction:column;
    align-items: start;
    gap: .5rem;
    border: 1px solid var(--gray-700);
    background-color: var(--gray-800);
    border-radius:var(--border-radius-small);
}

.noteListItem span{
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

