@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --border-radius-small: 0.5rem;
    --border-radius-medium: 0.75rem;

    --primary-color: #fff;

    --success-color: #28a745;
    --warning-color: #ffc107;
    --error-color: #dc3545;

    --gray-100: #f7fafc;
    --gray-500: #737373;
    --gray-600: #555555;
    --gray-700: #383838;
    --gray-800: #242424;


    /* THEME */
    --primary-text-color: var(--primary-color);
    --backgroun-color: #1C1C1E;
    
    --nav-bg-color: #1C1C1E;
}

/* RESET */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: var(--backgroun-color);
    color: var(--primary-text-color)
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    line-height: 1.5;
}

html,
body,
#root {
    height: 100%;
}

button {
    cursor: pointer;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
